extends ../layout

block title
  | Quản lý người dùng

block content
  .container
    h2.mt-3 Quản lý người dùng
    if users.length > 0
      table.table.table-bordered.table-hover
        thead.table-light
          tr
            th Tên đăng nhập
            th Email
            th Họ tên
            th Vai trò
            th.text-center Hành động
        tbody
          each user in users
            tr
              td= user.username
              td= user.email
              td= user.fullname
              td= user.role && user.role.name || 'Chưa phân quyền'
              td.text-center
                a.btn.btn-sm.btn-warning(href='/users/view/' + user._id) Xem
                form.d-inline-block(method='POST', action='/users/delete/' + user._id)
                  button.btn.btn-sm.btn-danger(type='submit', onclick='return confirm("Bạn có chắc chắn muốn khoá tài khoản này?")') Khoá

    else
      .alert.alert-info Không có người dùng nào
