extends ../layout

block title
  | Tạo Danh Mục

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card.shadow
          .card-body
            h3.card-title.mb-4 Tạo Danh Mục Mới
            form(action='/categories', method='POST')
              .mb-3
                label.form-label(for='name') Tên Danh Mục:
                input.form-control(type='text', id='name', name='name', required)
              .mb-3
                label.form-label(for='description') Mô Tả:
                input.form-control(type='text', id='description', name='description')
              button.btn.btn-primary.w-100(type='submit') Tạo Danh Mục